 body{
    background-color: rgba(63, 82, 217);
    font-family: 'Yaldevi', sans-serif;
    font-size: 17px;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
input{
    width: 150px;
    height: 30px;
}

.section{
     display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}

.wraps{
    width: 300px;
    height: 500px;
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    border-radius: 25px 25px 25px 25px;
}


.wraps:nth-of-type(1){
    background-color: green;
}

.wraps:nth-of-type(2){
    background-color: yellow;
}

.wraps:nth-of-type(3){
    background-color: red;
}
.innerdiv{
    width: 200px;
    height: 50px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.source{
    display: flex;
    margin-top: 5px;
}

.special {
    width: 150px;
    height: 40px;
    background-color: white;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;

    
}